body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: black;
    padding: 15px 0;
}

nav {
    display: flex;
    align-items: center;
    max-width: 1200px;
    max-height: 70px;
    margin: 0 6rem;
}

.logo img {
    width: 200px;
    height: 70px;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
    margin-top: 1rem;

}


.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #00f;
}

.btn_logout {
    margin-left: 34rem;
    margin-top: 8px;
}

/* table */
.table td img {
    width: auto;
    height: 50px;
}



.modal-dialog {
    display: flex;
    align-items: center;
    height: 100%;
}

